<div class="main-wrapper">
    <section class="page-title bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <h1 class="text-capitalize mb-4 text-lg">Pricing​</h1>
                        <p class="text-black">
                            <strong>Straightforward pricing with no surprises. Pay as you Go! Save
                as you Grow!</strong
              >
            </p>
            <p class="text-black">
              No complicated tiered pricing. No upwards payment.
            </p>
            <button
              class="ml-2 btn btn-primary form-control btn-shadow btn-cal badge badge-primary"
              (click)="EditPricePlan()"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-md-12">
          <div class="block text-center">
            <div class="custom-slider text-black">
              <ngx-slider
                [(value)]="minValue"
                (valueChange)="changValue($event)"
                [options]="options"
              ></ngx-slider>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6 form-group">
          <ul class="list-group font-size courier-box">
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Monthly orders:</div>
              </div>
              <span class="">
                <button
                  (click)="clickIncrement(totalOrderInput.value)"
                  class="btn btn-primary form-control btn-shadow btn-cal badge badge-primary"
                >
                  <i class="fa fa-plus"></i>
                </button>
                <input
                  type="number"
                  [value]="totalOrders"
                  readonly
                  #totalOrderInput
                  class="btn btn-primary form-control btn-shadow input-width"
                />
                <button
                  (click)="clickDicrement(totalOrderInput.value)"
                  class="btn btn-primary form-control btn-shadow btn-cal badge badge-primary"
                >
                  <i class="fa fa-minus"></i>
                </button>
              </span>
              <!-- <button
                class="btn btn-primary form-control btn-shadow btn-cal badge badge-primary"
                (click)="EditPricePlan()"
              >
                Edit
              </button> -->
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Cost per order:</div>
              </div>
              <span class="" *ngIf="minValue <= stepValue[1]">{{
                "FREE"
              }}</span>
              <span class="" *ngIf="minValue > stepValue[1]"
                >AED {{ costPerOrder }}</span
              >
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Monthly total:</div>
              </div>
              <span class="" *ngIf="minValue <= stepValue[1]">{{
                "FREE"
              }}</span>
              <span class="" *ngIf="minValue > stepValue[1]"
                >AED {{ monthlyTotal }}</span
              >
              <span class="strike-line" *ngIf="minValue > stepValue[1]"
                >AED {{ total }}</span
              >
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">You save:</div>
              </div>
              <span class="" *ngIf="saveValue > 0">{{ saveValue }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Discount:</div>
              </div>
              <span class="" *ngIf="discountPercent > 0"
                >{{ discountPercent }}%</span
              >
            </li>
            <li
              class="list-group-item justify-content-between align-items-start"
            ></li>
          </ul>
        </div>
        <div class="col-md-6 form-group">
          <ul class="courier-box2">
          <ul class="list-group font-size">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">
<form #form="ngForm" (ngSubmit)="addIncludeServiceForm(form)" class="container-fluid" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="serviceName">Write Service Name</label>
                                <input type="text" class="form-control" name="serviceName" [(ngModel)]="includeServices.serviceName" #serviceName="ngModel" [ngClass]="{ 'is-invalid':form.submitted && serviceName.invalid || serviceName.touched }" placeholder="Write Service Name" required>
                                <div *ngIf="form.submitted && serviceName.invalid || serviceName.touched" class="invalid-feedback error-msg form-group">
                                    <div *ngIf="serviceName.errors?.required">Service Name is required</div>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label for="servicePrice">Write Service Price</label>
                                <input type="number" class="form-control" name="servicePrice" [(ngModel)]="includeServices.servicePrice" #servicePrice="ngModel" [ngClass]="{ 'is-invalid':form.submitted && servicePrice.invalid || servicePrice.touched }" placeholder="Write Service Price" required>
                                <div *ngIf="form.submitted && servicePrice.invalid || servicePrice.touched" class="invalid-feedback error-msg form-group">
                                    <div *ngIf="servicePrice.errors?.required">Service Price is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center mb-3">
                            <button type="submit " class="btn btn-block mybtn btn-primary tx-tfm">
      Add
    </button>
                        </div>
                    </div>
                </form>

                </div>
              </div>


            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">WHAT'S INCLUDED</div>
              </div>
              <span class=""></span>
              <!-- <button
                class="ml-2 btn btn-primary form-control btn-shadow btn-cal badge badge-primary"
                (click)="EditPricePlan()"
              >
                Edit
              </button> -->
            </li>
            </ul>
            <ul class="list-group font-size" *ngFor="let service of includeServiceDetails; let i = index">
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
             >
              <div class="ms-2 me-auto">
                <div class="fw-bold">
                 {{service.serviceName}}
                </div>
              </div>
              <span *ngIf="service.servicePrice > 0">{{
                service.servicePrice + " AED"
              }}</span>
              <span *ngIf="service.servicePrice == 0">FREE</span>
              <span>
                <button type="button" class="btn btn-sm btn-outline-primary ml-2 mr-2" (click)="editIncludeService(service)">Edit  <i class='fas fa-edit'></i> </button>
                <button type="button" class="btn btn-sm btn-outline-primary ml-2 mr-2" (click)="deleteIncludeService(service.includeServicesId)">Delete <i class='fas fa-trash-alt'></i></button>
              </span>
            </li>
            </ul>
            <ul class="list-group font-size" *ngIf="editForm">
<li class="list-group-item d-flex justify-content-between align-items-start">
 <div class="ms-2 me-auto">
                <div class="fw-bold">
                <ng-container *ngIf="service">
                    <h6 class="py-2">Edit Inculde Services</h6>
                    <form [formGroup]="service">
                      <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                            <label for="serviceName" class="col-md-12 col-form-label">Service Name</label>
                                <input type="text" class="form-control" id="serviceName" formControlName="serviceName">
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            <label for="servicePrice" class="col-md-12 col-form-label">Service Price</label>
                                <input type="text" class="form-control" id="servicePrice" formControlName="servicePrice">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                        <div class="form-group">
                                <button type="submit" class="btn btn-primary mr-2" (click)="save()">Save</button>
                                <button type="reset" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </ng-container>
                </div>
              </div>

</li>
          </ul>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>